<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="member_board.dto.bDto" alias="bdto" />
        <typeAlias type="member_board.dto.mDto" alias="mdto" />
        <typeAlias type="member_board.dto.cDto" alias="cdto" />
    </typeAliases>
</configuration>