<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="board">
<insert id="save" parameterType="bdto">
    insert into board (btitle,mid,btext,bdate,bfname)
                values (#{btitle},#{mid},#{btext},now(),#{bfname})
</insert>

    <select id="findid" resultType="mdto" parameterType="mdto">
        select * from r where mid=#{mid}
    </select>
</mapper>














