<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="data">
<insert id="save" parameterType="mdto">
    insert into member (mid,mpw,mname,memail,mphone,mdate,mfname)
                values (#{mid},#{mpw},#{mname},#{memail},#{mphone},now(),#{mfname})
</insert>

    <select id="findid" resultType="mdto" parameterType="mdto">
        select * from member where mid=#{mid}
    </select>
    <update id="update" >
        update member set memail=#{memail},mphone=#{mphone},mpw=#{mpw} where mid=#{mid}
    </update>
    <delete id="delete">
        delete from member where mid=#{mid}
    </delete>
    <select id="member" resultType="mdto">
        select * from member
    </select>

</mapper>














